
body {
    background-color: rgb(200,200,200);
     background-image: url('RecklessQueasyCondor.webm'); background-size:cover;
    color: rgb(255,255,255);
    font-family: "Open Sans", sans-serif;
    text-align: center;
}

#content {
    display: block;
    margin-left: auto;
    margin-right: auto
}

header {
	
}

footer {
	font-style: italic;
	font-size: 90%;
}

